---
layout: archive
title: "Appearances, talks and presentations"
permalink: /appearances/
author_profile: true
--- 

<p>
Here is a list of every place you have seen my face, you can filter with the buttons below!
</p>

<div class="talk-filters">
  <button class="talk-filter all-filter active" data-filter="all">
    All
  </button>

  {% assign categories = "Research,Maths Communication,Training and Facilitation,Research Culture,PhDYourWay,Knowledge Exchange,Guest" | split: "," %}

  {% for category in categories %}
  <button class="talk-filter {{ category | slugify }}" data-filter="{{ category | slugify }}">
    {{ category }}
  </button>
  {% endfor %}
</div>


<ol class="talk-list" reversed>
  {% assign sorted_talks = site.data.talks | sort: "date" | reverse %}
  {% for talk in sorted_talks %}
  <li class="talk-entry"
  {% for category in talk.categories %}
  data-category-{{ category | slugify }}="true"
  {% endfor %}
  >
    <b>{{ talk.event }}</b>,<em> {{ talk.location }}, {{ talk.date | date: "%B %Y" }}</em>
    <br>
    <b><em>{{ talk.title }}</em></b>
    {% if talk.link %}<a href="{{ talk.link }}">(link)</a>{% endif %}<br>
    <div class="talk-tags">
      {% for category in talk.categories %}
      <span class="talk-tag {{ category | slugify }}">
      {{ category }}
      </span>
      {% endfor %}
    </div>

  </li>

  {% endfor %}

</ol>


<style>

.talk-filters {
  margin-bottom: 2em;
}

.talk-filter {
  margin: 0.25em;
  padding: 0.35em 0.75em;
  border-radius: 20px;
  border: 2px solid var(--tag-color);
  color: var(--tag-color);
  background: transparent;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  transition: 0.2s ease;
}
.talk-filter:hover,
.talk-filter.active {
  background: var(--tag-color);
  color: white;
}

.talk-entry {
  margin-bottom: 2em;
}
.talk-entry h3 {
  margin-bottom: 0.2em;
}

.talk-tags {
  margin-top: 0.5em;
}
.talk-tag {
  display: inline-block;
  margin-right: 0.35em;
  margin-bottom: 0.25em;
  padding: 0.2em 0.6em;
  border-radius: 12px;
  font-size: 0.7em;
  font-weight: 700;
  border: 1px solid currentColor;
}

/* Your original colour palette */

/* Content */ 
.talk-tag.research {                  color: #a06a02;}
.talk-tag.maths-communication {       color: #701e60;}
.talk-tag.training-and-facilitation { color: #107e4f;}
.talk-tag.research-culture {          color: #DB757E;}
.talk-tag.phdyourway {                color: #122d40;}
.talk-tag.knowledge-exchange {        color: #2A7F9E;}
/* Filter button colours */
.all-filter {                            --tag-color: #454545;}
.talk-filter.research {                  --tag-color: #a06a02;}
.talk-filter.maths-communication {       --tag-color: #701e60;}
.talk-filter.training-and-facilitation { --tag-color: #107e4f;}
.talk-filter.research-culture {          --tag-color: #DB757E;}
.talk-filter.phdyourway {                --tag-color: #122d40;}
.talk-filter.knowledge-exchange {        --tag-color: #2A7F9E;}
.talk-filter.guest {                     --tag-color: #E5A229;}
/* Role */
.talk-tag.contributed{                color: #545454;}
.talk-tag.invited {                   color: #545454;}
.talk-tag.organiser {                 color: #545454;}
.talk-tag.facilitator {               color: #545454;}
.talk-tag.trainer {                   color: #545454;}
.talk-tag.chair {                     color: #545454;}
.talk-tag.host {                      color: #545454;}
.talk-tag.guest {                     color: #E5A229;}
.talk-tag.speaker {                   color: #545454;}
.talk-tag.author {                    color: #545454;}
/* Format */
.talk-tag.conference {                color: #828282;}
.talk-tag.seminar {                   color: #828282;}
.talk-tag.in-print {                  color: #828282;}
.talk-tag.audio {                     color: #828282;}
.talk-tag.poster {                    color: #828282;}
.talk-tag.workshop {                  color: #828282;}
.talk-tag.panel {                     color: #828282;}  
.talk-tag.video {                     color: #828282;}    
.talk-tag.livestream {                color: #828282;}
.talk-tag.talk {                      color: #828282;}  
.talk-tag.festival {                  color: #828282;}
.talk-tag.lecture {                   color: #828282;}







</style>


<script>

document.addEventListener("DOMContentLoaded", function() {

  const buttons = document.querySelectorAll(".talk-filter");
  const talks = document.querySelectorAll(".talk-entry");


  buttons.forEach(button => {

    button.addEventListener("click", function() {

      const filter = this.dataset.filter;


      buttons.forEach(btn => {
        btn.classList.remove("active");
      });

      this.classList.add("active");


      talks.forEach(talk => {

        if (filter === "all") {
          talk.style.display = "block";
        }

        else if (talk.hasAttribute("data-category-" + filter)) {
          talk.style.display = "block";
        }

        else {
          talk.style.display = "none";
        }

      });

    });

  });

});

</script>