---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

This will be a list of every event I have attended or spoken at, deliniated by talk, workshop, poster, attendance, and whether academic, or other. 
This section is still under development. 

<!---
{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
--->